<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Smoke">

  <title>Buy List Page</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/modern-business.css}" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav th:replace="fragment::nav"></nav>
<!-- /.Navigation -->

<!-- Page Content -->
<div class="container">

  <!-- 卖车表单 -->
  <div class="row mt-5">

    <!--    侧边栏-->
    <div class="col-3" style="margin-bottom: 300px">
      <div class="list-group">
        <div class="list-group-item text-center">
          <img src="/images/user.png" class="mb-1" style="height: 100px; width: 100px">
          <p>
            个人中心
          </p>
          <p>
            手机号：
            <span th:text="${phone}"></span>
          </p>
        </div>
        <a href="/profile/userinfo" class="list-group-item list-group-item-action">个人信息</a>
        <a href="/profile/favourite" class="list-group-item list-group-item-action">收藏车辆</a>
        <a href="/profile/trans/sell" class="list-group-item list-group-item-action active">我的交易</a>
      </div>
    </div>

    <!--    内容-->
    <div class="col-9">
      <h2 class="border-bottom mb-5">我的交易
        <a class="ml-5 btn-link text-decoration-none" style="font-size: 1rem" href="/profile/trans/sell">出售</a>
        <a class="ml-5 btn-link text-decoration-none active" style="font-size: 1rem" href="#">购买</a>
        <a class="ml-5 btn-link text-decoration-none" style="font-size: 1rem" href="/profile/trans/reserve">预定</a></h2>

      <ul class="list-unstyled mt-5">
        <li class="media text-muted border-bottom mt-1" th:if="${buyTransList.size()>0}"
            th:each="buyTrans:${buyTransList}">
          <img class="mr-3" th:src="@{'/images/carpic/' + ${buyTrans.carPicture()}}"
               alt="Generic"
               style="width: 84px; height: 64px">
          <div class="media-body">
            <a class="h5 mt-0 mb-1 text-truncate text-secondary"
               th:href="@{${buyTrans.status()=='0'?'#':'/car/'+buyTrans.transId()}}"
                th:text="${buyTrans.title()}">Car Title</a>
            <div th:switch="${buyTrans.status()}">
              <span th:case="2" class="text-danger border mr-2">已签约</span>
              <span th:case="3" class="text-danger border mr-2">已过户</span>
              <span th:text="${'购买时间：'+buyTrans.buyTime()}" class="mr-2"></span>
              <span th:text="${buyTrans.price()} + ' 元'" class="mr-2">price</span>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer th:replace="fragment::footer"></footer>
<!-- /.Footer -->

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>